<div class="container-lg mensaje-bienvenida">
    <div class="row">
        <p class="text-end">Hola {{persona}} ! <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesión <i class="fa-solid fa-right-from-bracket"></i></a></p>
    </div>
</div>