/*ESTOS SON ESTILOS GENERALES DEL FRONT*/

* {
  margin: 0;
  padding: 0;
}

html,
body {
  color: black;
  /*font-family: 'Hammersmith One', sans-serif;*/
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  line-height: 20px;
  /*background-image: url('../images/Imagen-bienvenida.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: opacity(30%);*/
  /*background-color: #334;*/
  /*background-color: #E9EBEE;*/
  background-color: #E8E9EB;
}

h1, h2 {
  color: black;
}

/*ESTOS SON ESTILOS DEL HEADER DEL FRONT*/

.contenedor-nav-logo {
  width: 100%;
  border-bottom: 1px solid grey;
  background: #0e1726;
  padding-left: 10px;

  /*background-color: transparent !important;*/
  /*position: fixed;
  top: 0;
  z-index: 999;*/

  /*background: linear-gradient(180deg,#0856bc 0%, #03fee0 90%);*/
  /*background: rgba(34, 122, 178, 0.1);*/

  /*background: linear-gradient(rgba(8, 86, 188, 0.35), rgba(8, 86, 188, 0.35));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);*/
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: start;
}

.h1-header {
  font-size: 60px;
  font-weight: 900;
  color: whitesmoke;
  margin-right: 10px;
}

.navbar-brand {
  width: 100%;
  max-width: 100px;
  max-height: 100px;
}

@media (max-width: 991px) {
  .container-nav {
      padding-left: 0;
      padding-right: 0;
  }

  .navbar-brand {
    padding-left: 10px;
  }
}

/*ESTOS SON ESTILOS DEL FOOTER DEL FRONT*/

.footer-page {
  /*background: linear-gradient(180deg,#0856bc 0%, #03fee0 90%);*/
  background-color: #2F5DBE;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: whitesmoke;
}

/*ESTILOS DE LA PÁGINA DE LOGUEO*/

.iniciar-sesion {
  padding-top: 100px;
  padding-bottom: 30px;
}

.iniciar-sesion label {
  color: black;
}

.iniciar-sesion input {
  background: linear-gradient(180deg,#03fee0 0%, #03fee0 90%);
}

.iniciar-sesion button {
  background: linear-gradient(180deg,#0856bc 0%, #0856bc 90%);
}

.iniciar-sesion p {
  color: red;
  padding-top: 10px;
}

/*ESTILOS DE LA PÁGINA DE OPINIONES*/
.total-container {
  position: relative;
}

.total-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /*background-image: url('../images/Imagen-bienvenida.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  /*opacity: 0.9;*/
  /*background-color: #0a0a23;
  background-blend-mode: multiply;
  filter: brightness(500%);*/
}

.container-welcome-list {
  position: relative;
  padding: 0 10px;
}

table {
  /*border-collapse: separate;
  border-spacing: 10px !important;*/
}

table tr {
  color: black;
  font-weight: bold;
  /*background-color: rgba(3, 254, 224, 0.5);
  background-color: #72C3E0;*/
  background-color: #faf9f8;
  border-collapse: separate;
  border-spacing: 10px !important;
}

table tr th, td {
  /*padding: 30px;*/
}

.welcome {
  display: flex;
  /*height: 20vh;*/
  /*align-items: center;
  text-align: center;*/
  justify-content: flex-end;
  margin-bottom: 30px;
}

.welcome span {
  font-size: 70px;
  line-height: 1em;
  color: black;
}

.welcome a {
  /*margin-top: 30px;*/
  border: none;
  background-color: #2F5DBE;
  width: 50px;
  height: 40px;
  margin-top: 15px;
  margin-right: 15px;
  position: fixed;
  top: 40px;
}

.welcome a:hover {
  background: linear-gradient(180deg,#0856bc 0%, #03fee0 90%);
}

.welcome i {
  /*padding-left: 10px;*/
}

.title {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: black;
  /*color: #0856bc;*/
}

.new {
  /*background: linear-gradient(rgba(8, 86, 188, 0.35), rgba(8, 86, 188, 0.35));*/
  background: linear-gradient(rgba(14, 23, 38, 1), rgba(14, 23, 38, 1));
  border: none;
}

.btn-primary:hover {
  --bs-btn-hover-bg: transparent;
}

.new:hover {
  background: linear-gradient(180deg,#0856bc 0%, #03fee0 90%);
}

.new i {
  padding-right: 10px;
}

.icons {
  display: flex;
}

.icons a {
  margin: 2px;
  margin-bottom: 0;
  background-color: rgba(8, 86, 188, 0.5);
  background-color: transparent;
  color: black;
  border: none;
}

.icons a:hover {
  background: linear-gradient(180deg,#0856bc 0%, #03fee0 90%);
  color: black !important;
  /*transform: translate(16px,-26px);*/
}

.table>:not(caption)>*>* {
  border-bottom-width: 0px;
}

.not-border {
  border-bottom: 10px solid #E8E9EB;
}

.fila-2 {
  margin-bottom: 20px;
}

.table-blue {
  background-color: #0e1726;
  color: whitesmoke;
  border-bottom: 10px solid #E8E9EB;
}





