.container-file {
    display: flex;
    flex-wrap: wrap;
}

.file-reverse {
    flex-direction: row-reverse;
}

.container-file-img {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.container-file-img img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 50px 0px rgba(128,128,245,0.75);
}

.file-reverse .container-file-img img {
    box-shadow: 5px 5px 30px 0px rgba(3,254,224,0.75);
}

.container-file-text {
    padding: 15px;
    text-align: justify;
}

@media (max-width: 1199px) {
    .container-file-text {
        line-height: 170%;
    }
}