.footer-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    background: linear-gradient(180deg,#0856bc 0%, #03fee0 90%);

    /*background-color: #ffce8e;*/
}