.navbar {
    height: 65px;
    background-color: transparent !important;
}

.collapse {
    justify-content: center;
}

.nav-site {
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    padding: 0;
    font-size: 60px;
}

.navbar-nav li {
    font-weight: bold;
    font-size: 20px;
}

.navbar-nav li a {
    margin: 10px;
    color: whitesmoke;
}

.navbar-nav li a:hover {
    color: #ffaad2;
    color: #a9ebed;
    color: #a9edeb;

    /*color: #ffce8e;*/
    /*color: #03fee0;*/
}

.nav-active {
    /*border-bottom: 5px solid #ffaad2;
    border-radius: 400px;*/
    border: 2px solid #eddac5;
    border: 2px solid #a9edeb;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.55) !important;
    color: #eddac5 !important;
    color: #a9edeb !important;
    /*background-color: rgb(38, 208, 214);*/
}

@media (max-width: 991px) {
    .navbar-collapse {
        background: linear-gradient(180deg,#03fee0 0%, #0856bc 90%);
        background: #528ca7;
        background: #104164;
        
        /*background: linear-gradient(180deg,#0856bc 0%, #03fee0 90%);*/
        /*background: radial-gradient(ellipse farthest-corner at center center, #0856bc 0%, #03fee0 80%);*/
        /*background: radial-gradient(ellipse farthest-corner at center center, #03fee0 0%, #0856bc 80%);*/
        filter: opacity(92%);
        filter: opacity(80%);
        filter: opacity(95%);
    }

    .nav-site .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28245, 245, 245, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .nav-site .navbar-toggler {
        border-color: whitesmoke;
        --bs-navbar-toggler-focus-width: 0;
    }

    /*.navbar-collapse a {
        color: black;
    }*/

    .nav-active {
        border: none;
        border-radius: 5px;
        color: black !important;
        color: #528ca7 !important; 
        color: #104164 !important;
        background: linear-gradient(180deg,#0856bc 0%, #0856bc 90%);
        background: linear-gradient(180deg,#a9edeb 0%, #a9edeb 90%);
        /*background: linear-gradient(180deg,#03fee0 0%, #03fee0 90%);*/
    }

    .navbar {
        padding: 0;
    }

    .nav-site {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-brand {
        padding-left: 10px;
    }

    .navbar-toggler {
        margin-right: 100px;
    }
}

@media (max-width: 458px) {
    .navbar-toggler {
        margin-left: 10px;
    } 
}

.navbar-brand {
    max-width: 300px;
    max-height: 65px;
}




.contenedor-titulo_imagen-logo {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.contenedor-titulo_imagen-logo h2 {
    font-size: 45px;
    font-weight: 900;
    padding-top: 10px;
}

.contenedor-titulo_imagen-logo .span1 {
    color: #528ca7;
    color: #104579;
    color: #a9edeb;
    /*color: #1f1e2a;*/
    color: #528ca7;
    color: #a9edeb;
}

.contenedor-titulo_imagen-logo .span2 {
    color: #eddac5;
    color: whitesmoke;
}

.contenedor-titulo_imagen-logo .icono-react {
    color: #528ca7;
    color: #a9edeb;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

