* {
  margin: 0;
  padding: 0;
}

html,
body {
  color: white;
  /*font-family: 'Hammersmith One', sans-serif;*/
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  /*line-height: 20px;*/
}

.total-container {
    padding-top: 70px;
    padding-bottom: 20px;
}

.important-title {
  font-size: 45px;
  font-weight: 900;
  text-align: justify;
}
